body{
    background-color: #251460;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
form{
    display: flex;
    width: 100%;
    height: 50px;
    /* border: 1px solid black; */
    background-color: #f2f2f2;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    
}
input{
    width: 280px;
    height: 47px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 16px;
    border: none;
    padding-left: 10px;
    border-right: none;
    background-color: #f2f2f2;
}

input:focus{
    outline: none;
}
.main{
    width: 400px;
    height: 600px;
    border: 1px solid black; 
    background-color: white;
    padding: 10px;
}
.btn{
    width: 120px;
    height: 50px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border: none;
    background-color: red;
    color: white;
    font-size: 20px;
    font-weight: 600;
}
.span-task{
    width: 400px;
    height: 40px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
.span{
    width: 92%;
    height: 100%;
    border-bottom: 1px solid lightgray;
    font-size: 20px;
    display: flex;
    background-color: white;
    padding-left: 15px;
    border-radius: 16px;
}
.text{
    width: 243px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
}
.d-btn{
    width: 60px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.a-btn{
    width: 60px;
    height: 100%;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.click-btn{
    width: 80%;
    height: 80%;
    font-size: 18px;
    background: none;
    border: none;
}